<%= form_with(model: seriado) do |form| %>
  <% if seriado.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(seriado.errors.count, "error") %> prohibited this seriado from being saved:</h2>

      <ul>
        <% seriado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :Data_De_Lancamento, style: "display: block" %>
    <%= form.date_field :Data_De_Lancamento %>
  </div>

  <div>
    <%= form.label :episodios, style: "display: block" %>
    <%= form.number_field :episodios %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :diretor, style: "display: block" %>
    <%= form.text_field :diretor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
