<div id="<%= dom_id seriado %>">
  <p>
    <strong>Nome:</strong>
    <%= seriado.nome %>
  </p>

  <p>
    <strong>Data de lancamento:</strong>
    <%= seriado.Data_De_Lancamento %>
  </p>

  <p>
    <strong>Episodios:</strong>
    <%= seriado.episodios %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= seriado.description %>
  </p>

  <p>
    <strong>Diretor:</strong>
    <%= seriado.diretor %>
  </p>

</div>
