<div id="<%= dom_id anime %>">
  <p>
    <strong>Nome:</strong>
    <%= anime.nome %>
  </p>

  <p>
    <strong>Episodios:</strong>
    <%= anime.episodios %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= anime.nota %>
  </p>

  <p>
    <strong>Atual:</strong>
    <%= anime.atual %>
  </p>

</div>
