<div id="<%= dom_id serie %>">
  <p>
    <strong>Nome:</strong>
    <%= serie.nome %>
  </p>

  <p>
    <strong>Data de lancamento:</strong>
    <%= serie.Data_De_Lancamento %>
  </p>

  <p>
    <strong>Episodios:</strong>
    <%= serie.episodios %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= serie.description %>
  </p>

  <p>
    <strong>Diretor:</strong>
    <%= serie.diretor %>
  </p>

</div>
